name: Scorecards

on:
  branch_protection_rule:
  schedule:
    - cron: "30 5 * * 1"
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  actions: read
  contents: read
  id-token: write
  security-events: write

concurrency:
  group: scorecards-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  analysis:
    name: Scorecards analysis
    runs-on: ubuntu-latest
    steps:
      - name: Run scorecards analysis
        uses: ossf/scorecard-action@62b2cac7ed8198b15735ed49ab1e5cf35480ba46 # v2.4.0
        with:
          results_file: scorecard-results.sarif
          results_format: sarif
          publish_results: true
      - name: Upload scorecards artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: scorecard-results
          path: scorecard-results.sarif
          if-no-files-found: error
      - name: Upload scorecards SARIF
        uses: github/codeql-action/upload-sarif@89a39a4e59826350b863aa6b6252a07ad50cf83e # v4.32.4
        with:
          sarif_file: scorecard-results.sarif
